/* container reset & dark background */
#currency-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #000;
    color: #fff;
}

#currency-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #333;
}

.currency-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    margin-left: 0.25rem;
    /* smaller gap from flag */
}

/* flag icon on left */
#currency-list li .fi {
    font-size: 2rem;
}

.currency-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
}

.currency-code {
    font-weight: bold;
    font-size: 0.875rem;
    color: #777;
}

/* editable amount to right */
#currency-list li .amount {
    width: 80px;
    font-size: 1.25rem;
    text-align: right;
    border: none;
    /* border-bottom: 1px solid #fff; */
    background: transparent;
    color: #fff;
    outline: none;
}

#currency-list li .amount::-webkit-inner-spin-button,
#currency-list li .amount::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}