/* スマホ用 */
html,
body {
    font-family:
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "Noto Sans JP",
        system-ui,
        sans-serif;

    /*background: #777;*/
    background: red;

    justify-content: center;
    align-items: center;

    height: 100%;
    margin: 0;
    padding: 0;

    color: white;
}

/* スマホ画面 */
.app {
    width: 100%;
    height: 100dvh;

    background: black;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

/* PC用 */
@media(min-width:768px) {

    html,
    body {
        font-family:
            "Hiragino Kaku Gothic ProN",
            "Hiragino Sans",
            "Noto Sans JP",
            system-ui,
            sans-serif;

        /*background: #777;*/
        background: blue;

        display: flex;
        justify-content: center;
        min-height: 100vh;

        height: 100%;
        margin: 0;
        padding: 0;

        color: white;

    }

    .app {
        width: 100%;
        max-width: 430px;

        height: 100dvh;
        max-height: 860px;

        background: black;

        border-radius: 38px;

        overflow: hidden;

        position: relative;

        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    }
}

/* 画面遷移用 */

.screen {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hidden {
    display: none !important;
}

/* 共通 */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}
