/* main screen*/
#main-screen {

    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 8%;
}

.main-view {
    padding: 30px;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.header h1,
.header p {
    margin: 0;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.page-title {
    font-size: 35px;
}

.rate-time {
    font-size: 16px;
    color: gray;
}

/* ＋ボタン */
.add-button {
    background: white;
    color: black;
}

/* 通貨リスト */
.currency-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.currency-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* 国旗 */
.flag {
    width: 60px;
    height: 60px;

    border-radius: 15px;
}

/* 通貨名 */
.currency-name {
    font-size: 30px;
}

.currency-code {
    font-size: 20px;
    color: gray;
}

.currency-rate {
    font-size: 30px;
}

/* 削除ボタン */
.delete-button {
    width: 60px;
    height: 60px;

    border-radius: 15px;

    background: red;
    color: white;

    margin-left: 10px;
}

/* 削除トースト */
.delete-toast {
    position: absolute;

    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    background: gray;

    padding: 15px 30px;

    border-radius: 15px;

    font-size: 20px;
}

/* ボトムシート */
.bottom-sheet {
    position: absolute;

    bottom: 0;

    width: 100%;
    height: 60%;

    background: #444;

    border-radius: 38px 38px 0 0;

    padding: 25px;
}

/* 検索バー */
.search-bar {
    width: 100%;

    padding: 15px;

    font-size: 30px;

    border-radius: 15px;

    border: none;

    margin-bottom: 25px;
}

/* add remove */
.add-green {
    width: 60px;
    height: 60px;

    background: #22c55e;

    border-radius: 15px;

    font-size: 30px;
}

.remove-red {
    width: 60px;
    height: 60px;

    background: #ef4444;

    border-radius: 15px;

    font-size: 30px;
}